<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ace="http://www.icefaces.org/icefaces/components">
        
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form id="form">

            <ace:panel id="dynamicResourcePanel" header="ICEfaces">
                
                <h:commandLink action="#{myController.download}" value="Download with JSF" >
                    <f:ajax disabled="true"/>
                </h:commandLink>
                    
                    <ace:dynamicResource id="dynamicResource"
                        resource="#{myController.resource}" 
                        type="link"
                        label="Download with ICEfaces" 
                        attachment="true"
                        fileName="#{myController.resource}"/>
            </ace:panel>

        </h:form>
    </h:body>
</html>

